.package-content-ul-div-inner-attribute{padding: 4px 0px;}
.package-content-ul-div-inner-title{font-size: 14px;color: #000;}
.package-content-ul-div-inner-attribute{font-size: 14px;color: #999;}
.package-price img{width: 20px;padding-top: 16px;}

