<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<link rel="stylesheet" type="text/css" href="../../static/vendor/mui/mui.min.css"/>
<link rel="stylesheet" href="../../static/mobile/css/public.css" />
<link rel="stylesheet" href="../../static/mobile/css/iconfont.css" />
<link rel="stylesheet" href="../../static/mobile/css/category.css" />
<link rel="stylesheet" href="../../static/mobile/css/category2.css">
<link rel="stylesheet" href="../../static/mobile/css/search.css" />
<script type="text/javascript" src="../../static/vendor/mui/mui.min.js"></script>
<script type="text/javascript" src="../../static/vendor/jquery/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="../../static/mobile/js/category.js"></script>
<script src="../../static/mobile/js/public.js"></script>
</head>
<body>
	<div class="content">
		<div class="category-header">
			<i class="active">品类</i>
			<i>品牌</i>
			<span class="mui-icon mui-icon-search"></span>
		</div>
		<div class="tab-content tab-content2 active">
			<ul>
				<li>
					<img src="../../static/mobile/images/category/table.jpg" alt="" />
				</li>
				<li>
					<img src="../../static/mobile/images/category/table2.jpg" alt="" />
				</li>
				<li>
					<img src="../../static/mobile/images/category/chair.jpg" alt="" />
				</li>
				<li>
					<img src="../../static/mobile/images/category/table3.jpg" alt="" />
				</li>
				<li>
					<img src="../../static/mobile/images/category/cabinet.jpg" alt="" />
				</li>
				<li>
					<img src="../../static/mobile/images/category/sofa.jpg" alt=""/>
				</li>
				<li>
					<img src="../../static/mobile/images/category/chair2.jpg" alt="" />
				</li>
				<li>
					<img src="../../static/mobile/images/category/shelf.jpg" alt="" />
				</li>
				<li>
					<img src="../../static/mobile/images/category/outdoor.jpg" alt="" />
				</li>
				<li>
					<img src="../../static/mobile/images/category/bed.jpg"/>
				</li>
				<li>
					<img src="../../static/mobile/images/category/decorations.jpg"/>
				</li>
				<li>
					<img src="../../static/mobile/images/category/light.jpg" alt="" />
				</li>
				<li>
					<img src="../../static/mobile/images/category/tableware.jpg" alt="" />
				</li>
				<li>
					<img src="../../static/mobile/images/category/home-textile.jpg" alt="" />
				</li>
				<li>
					<img src="../../static/mobile/images/category/ware.jpg" alt="" />
				</li>
				<li>
					<img src="../../static/mobile/images/category/teaset.jpg" alt="" />
				</li>
			</ul>
		</div>
		<div class="tab-content">
			<div id="letter" ></div>
			<div class="sort_box">
				<div class="sort_list">
					<div class="num_name">张三</div>
				</div>
				<div class="sort_list">
					<div class="num_name">李四</div>
				</div>
				<div class="sort_list">
					<div class="num_name">王五</div>
				</div>
				<div class="sort_list">
					<div class="num_name">刘六</div>
				</div>
				<div class="sort_list">
					<div class="num_name">马七</div>
				</div>
				<div class="sort_list">
					<div class="num_name">黄八</div>
				</div>
				<div class="sort_list">
					<div class="num_name">莫九</div>
				</div>
				<div class="sort_list">
					<div class="num_name">陈十</div>
				</div>
				<div class="sort_list">
					<div class="num_name">a九</div>
				</div>
				<div class="sort_list">
					<div class="num_name">1十</div>
				</div>
			</div>
			<div class="initials">
				<ul>
					<li><img src="../../static/mobile/images/068.png"></li>
				</ul>
			</div>
		</div>
	</div>
	
	<!--底部导航-->
	<nav class="mui-bar mui-bar-tab">
	    <a class="mui-tab-item">
	        <span class="mui-icon mui-icon-home"></span>
	        <span class="mui-tab-label">首页</span>
	    </a>
	    <a class="mui-tab-item mui-active">
	        <i class="icon iconfont icon-fenlei mui-icon"></i>
	        <span class="mui-tab-label">分类</span>
	    </a>
	    <a class="mui-tab-item">
	        <i class="icon iconfont icon-gouwuchekong mui-icon"></i>
	        <span class="mui-tab-label">购物车</span>
	    </a>
	    <a class="mui-tab-item">
	        <i class="icon iconfont icon-wode mui-icon"></i>
	        <span class="mui-tab-label">我的</span>
	    </a>
	</nav>
	
	<!--搜索-->
<div class="search-content">
	<div class="search">
		<span class="mui-icon mui-icon-search" style="position: absolute;top: 4px;left: 10px;"></span>
		<input type="search" style="padding-left: 40px;text-align: left;" placeholder="请输入关键词"/>	
		<span class="cancel">取消</span>
	</div>
	<div class="hot-search">
		<span>热门搜索</span>
		<ul>
			<li>100-200</li>
			<li>200-400</li>
			<li>400-900</li>
			<li>900-1000</li>
		</ul>
	</div>
</div>
</body>
<script type="text/javascript" src="../../static/vendor/mailList/jquery.charfirst.pinyin.js"></script>
<script type="text/javascript" src="../../static/vendor/mailList/sort.js"></script>
</html>
