<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../static/vendor/mui/mui.min.css" />
		<link rel="stylesheet" href="../../static/mobile/css/public.css" />
		<link rel="stylesheet" href="../../static/mobile/css/group_list.css" />
		<script type="text/javascript" src="../../static/vendor/jquery/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="../../static/vendor/mui/mui.min.js"></script>
		<script type="text/javascript" src="../../static/mobile/js/public.js"></script>
	</head>

	<body>
		<div class="tab_nav">
			<div class="header">
				<div class="h-left">
					<a class="sb-back" href="javascript:history.back(-1)" title="返回"></a>
				</div>
				<div class="h-mid">今日团购</div>
				<div class="h-right">
					<aside class="top_bar">
						<div id="show_more">
							<a href="javascript:;"></a>
						</div>
					</aside>
				</div>
			</div>
		</div>
		<!--顶部菜单-->
		<div class="goods_nav show" id="menu">
			<div class="Triangle">
				<h2></h2>
			</div>
			<ul>
				<li>
					<a href="http://m.shop.rehoming.cn/index.php/Mobile/Index/index.html"><span class="menu1"></span><i>首页</i></a>
				</li>
				<li>
					<a href="http://m.shop.rehoming.cn/index.php/Mobile/Goods/categoryList.html"><span class="menu2"></span><i>分类</i></a>
				</li>
				<li>
					<a href="http://m.shop.rehoming.cn/index.php/Mobile/Cart/cart.html"><span class="menu3"></span><i>购物车</i></a>
				</li>
				<li style=" border:0;">
					<a href="http://m.shop.rehoming.cn/index.php/Mobile/User/index.html"><span class="menu4"></span><i>我的</i></a>
				</li>
			</ul>
		</div>

		<ul class="product_list" id="good_list">
			<li>
				<a class="url" href="http://m.shop.rehoming.cn/index.php/Mobile/Activity/group/id/100.html">
					<img src="http://m.shop.rehoming.cn/Public/upload/goods/thumb/100/goods_thumb_100_200_200.jpeg"> </a>
				<a href="http://m.shop.rehoming.cn/index.php/Mobile/Activity/group/id/100.html" class="info_wrap">
					<div class="fn good">金地珠宝足金花之恋金花3D硬金吊坠优雅大方时尚百搭唯美花朵黄金吊坠项坠</div>
					<div class="price_wrap">
						<i class="discount" style="display:;">9.6折</i> <span class="price" style="display:;">￥1300.00元</span> <del class="old_price" style="display:;">￥1405.00元</del>
					</div>
					<div class="bottom_info">
						<span class="remain_num" style="display:;">已售21件</span>
						<span class="sg_g_time last_g_time" id="jstimerBox100"><span class="hour">691</span>天<span class="min">4</span>时<span class="sec">8</span>分<span class="msec">25</span>秒</span>
					</div>
				</a>
			</li>
			<li>
				<a class="url" href="http://m.shop.rehoming.cn/index.php/Mobile/Activity/group/id/100.html">
					<img src="http://m.shop.rehoming.cn/Public/upload/goods/thumb/100/goods_thumb_100_200_200.jpeg"> </a>
				<a href="http://m.shop.rehoming.cn/index.php/Mobile/Activity/group/id/100.html" class="info_wrap">
					<div class="fn good">金地珠宝足金花之恋金花3D硬金吊坠优雅大方时尚百搭唯美花朵黄金吊坠项坠</div>
					<div class="price_wrap">
						<i class="discount" style="display:;">9.6折</i> <span class="price" style="display:;">￥1300.00元</span> <del class="old_price" style="display:;">￥1405.00元</del>
					</div>
					<div class="bottom_info">
						<span class="remain_num" style="display:;">已售21件</span>
						<span class="sg_g_time last_g_time" id="jstimerBox100"><span class="hour">691</span>天<span class="min">4</span>时<span class="sec">8</span>分<span class="msec">25</span>秒</span>
					</div>
				</a>
			</li>
			<li>
				<a class="url" href="http://m.shop.rehoming.cn/index.php/Mobile/Activity/group/id/100.html">
					<img src="http://m.shop.rehoming.cn/Public/upload/goods/thumb/100/goods_thumb_100_200_200.jpeg"> </a>
				<a href="http://m.shop.rehoming.cn/index.php/Mobile/Activity/group/id/100.html" class="info_wrap">
					<div class="fn good">金地珠宝足金花之恋金花3D硬金吊坠优雅大方时尚百搭唯美花朵黄金吊坠项坠</div>
					<div class="price_wrap">
						<i class="discount" style="display:;">9.6折</i> <span class="price" style="display:;">￥1300.00元</span> <del class="old_price" style="display:;">￥1405.00元</del>
					</div>
					<div class="bottom_info">
						<span class="remain_num" style="display:;">已售21件</span>
						<span class="sg_g_time last_g_time" id="jstimerBox100"><span class="hour">691</span>天<span class="min">4</span>时<span class="sec">8</span>分<span class="msec">25</span>秒</span>
					</div>
				</a>
			</li>

			<!--<script>
				Tday['100'] = new Date('2019/03/05 00:00:00');
				window.setInterval(function() { clock11('100'); }, 1000);
			</script>-->
		</ul>
	</body>

</html>